.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background: #fff;
}

.header_left,
.header_right,
.header_mid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    background: #f3f5f7;
}

.header_search>input {
    border: none;
    outline: none;
    background: transparent;
}

.header_search>input::placeholder {
    color: #aeb6bf;
}

.search_icon {
    margin-left: 5px;
    color: #aeb6bf;
}